$colorPaleWhite: #f4f4f4;
$colorPaleGrey: #d0c8c8;
$colorScarlet: #924444;

.mainContent {
	background: $colorPaleWhite;
	padding: 20rem 0 0;

  h1 {
    padding-top: 2rem;
    color: $colorScarlet;
    font-weight: 300;
  }

  .siteBanner {
    background-size: contain;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50rem;
  }

  .siteBanner--background {
    background: center top transparent no-repeat url(../images/waterfall.jpg);
  }

  .contentWrapper {
    background: $colorPaleWhite;
    margin-top: 30rem;
    padding: 0.5rem 15% 0;
    position: relative;

    .content-inner {
      height: 500px;
      position: relative;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

.content-inner.two,
.content-inner.four {
	margin-bottom: 5rem;
}

    .content-inner.one {
      background-image: url(../images/golden-gate-1.jpg);
    }

    .content-inner.two {
      background-image: url(../images/golden-gate-2.jpg);
    }

    .content-inner.three {
      background-image: url(../images/night-bridge-1.jpg);
    }

    .content-inner.four {
      background-image: url(../images/night-bridge-2.jpg);
    }

    .content-inner.five {
      background-image: url(../images/mountain-road-1.jpg);
    }

    .content-inner.six {
      background-image: url(../images/mountain-road-2.jpg);
    }

  }
}