.imageContainer {
  min-height: 50rem;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  // margin-bottom: 1rem;
}

.imageContainer.banner {
  background-image: url(../images/nickelback-slider.png);
}
