$colorPaleWhite: #f4f4f4;
$colorPaleGrey: #d0c8c8;
$colorScarlet: #924444;

.mainContent {
	background: $colorPaleWhite;
	padding: 20rem 0 0;

  h1 {
    padding-top: 2rem;
    color: $colorScarlet;
    font-weight: 300;
  }

  .siteBanner {
    background-size: contain;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 35rem;
  }

  .siteBanner--absolute {
    position: absolute;
  }

  .siteBanner--background {
    background: center top transparent no-repeat url(../images/volcano.jpg);
  }

  .contentWrapper {
    background: $colorPaleWhite;
    margin-top: 16rem;
    padding: 0.5rem 15% 0;
    position: relative;
  }
}