.sectionImage {
  min-height: 30rem;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  // margin-bottom: 3rem;
  background-image: url(../images/tour-bg-bottom.jpg);
}

