.sectionImage {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.sectionImage--tour {
  min-height: 50rem;
  background-image: url(../images/tour-bg-bottom.jpg);
}

.sectionImage--news {
  min-height: 75rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../images/news-bg.jpg);
}

.sectionImage--videos {
  min-height: 50rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/videos-bg-bottom.jpg);
}

.sectionImage--music {
  min-height: 50rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/music-bg.jpg);
}

.sectionImage__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 100%;

  // background-size: cover;
  background-size: 90%; 

  background-position: center; 
  background-repeat: no-repeat;
  background-image: url(../images/tour-bg-top.png);
}

