.banner {
  width: 100vw;
  min-height: 1rem;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100% 15%;
  background-size: contain;
}

.banner--image {
  background-image: url(../images/nickelback-slider.png);
}

