@import "./page-header";
@import "./page-content-wrapper";

.l-pageParallax {
  // background: tomato;

	height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

	position: relative;
}