@import "./page-header";
@import "./page-wrapper";
// @import "./page-content-wrapper";
// @import "./content-container";

.l-pageParallax {
  // background: tomato;

	height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

	position: relative;
}