extends templates/layout

block content

  .eventImageContainer
    .eventImageContainer__imageBox
      .boxLayered.layer--01
      .boxLayered.layer--02
      .boxLayered.layer--03
      .boxLayered.layer--04
      .boxLayered.layer--05

    .eventContent

      h1 Current Events

      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.
      br
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.
      br
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.
      br
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.
      br
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.