extends templates/layout

block content

  .parallax
    .group
      .parallax__layer.parallax__layer--01
        //- .title Layer 01
      .parallax__layer.parallax__layer--02
        //- .title Layer 02
      .parallax__layer.parallax__layer--03
        //- .title Layer 03
      .parallax__layer.parallax__layer--04
        //- .title Layer 04
      .parallax__layer.parallax__layer--05
        //- .title Layer 05

    .eventContent

      h1 Current Events

      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.
      br
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.
      br
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.
      br
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.
      br
      p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laboriosam consequuntur aut sunt necessitatibus non et tempora sed perferendis nam totam illum magni molestias maiores, quas. Minus id totam ipsam, commodi asperiores laboriosam, natus pariatur ad vel omnis expedita illo odio tempora neque autem veniam reiciendis, voluptatem accusamus quis quidem.