extends templates/layout

block content
  .pageContentWrapper
    .l-contentContainer

      .imageContainer.banner

      .section.sectionImage.sectionImage--tour 
        .sectionImage__overlay

        include temp-section-content

      .section.sectionImage.sectionImage--news
        include temp-section-content

      .section.sectionImage.sectionImage--videos
        include temp-section-content

      .section.sectionImage.sectionImage--music
        include temp-section-content
        
      .section 
        h2 Footer
