extends templates/layout

block content
    
  .pageContentWrapper.js-pageContentWrapper
    //- .banner.banner--image.js-banner

    //- .section.sectionImage.sectionImage--tour 
    //-   .sectionImage__overlay

    //-   include temp-section-content

    //- .section.sectionImage.sectionImage--news
    //-   include temp-section-content

    //- .section.sectionImage.sectionImage--videos
    //-   .sectionImage__middle
    //-   .sectionImage__top
    //-   include temp-section-content

    //- .section.sectionImage.sectionImage--music.js-sectionImage--music
    //-   include temp-section-content
      
    .owl-carousel.owl-theme
      .item 
        a(href="#")
          img(src="images/nb_carousel_FTM17.jpg")
      .item 
        a(href="#")
          img(src="images/nb_tour_17.png")

    //- .section 
    //-   h2 Footer
