doctype
html
  head
    meta(charset="utf-8")
    title Dresden 2017
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(rel="icon", type="image/png", href="images/favicon.png")

  body
    header.headerParallaxBox
      .headerParallaxBox__backBanner
      .headerParallaxBox__middleBanner
      .headerParallaxBox__frontBanner
    
    section.content
      article
        h1 Fantastic City

        hr
        p.
          Dresden, capital of the eastern German state of Saxony, is distinguished by the celebrated art museums and classic architecture of its reconstructed old town. Completed in 1743 and rebuilt after WWII, the baroque church Frauenkirche is famed for its grand dome. The Versailles-inspired Zwinger palace houses museums including Gemäldegalerie Alte Meister, exhibiting masterpieces of art like Raphael’s “Sistine Madonna.” 
        
        hr
        
    section.photoGallery
      .photoGallery__photoFrame.grid
        .photoGallery__photo.cell
          img(src="images/dresden-01.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-02.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-03.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-04.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-05.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-06.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-07.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-08.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-09.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-10.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-11.jpg").responsive-image
        .photoGallery__photo.cell
          img(src="images/dresden-12.jpg").responsive-image

      div(style="height: 2000px")