doctype
html
  head
    meta(charset="utf-8")
    title Dresden 2017
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(rel="icon", type="image/png", href="images/favicon.png")

  body(style="zoom: 1;")
    .navBar
      a.navLink.navLogo
        span Home

      ul.navBar__main
        li
          a(href="about.html").navLink
            span News
        li
          a(href="about.html").navLink
            span Media
        li
          a(href="about.html").navLink
            span Service
        li
          a(href="about.html").navLink
            span Support

    .mainContent  
      .siteBanner.siteBanner--background

      .contentWrapper
        .contentSection
          h1 Today is a nice day!

          h4 Nice daytime view on a bridge
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
        
        .contentImage.contentImage--one

        .contentSection
          h4 Nice night-time view on a bridge
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
        
        .contentImage.contentImage--two
        .contentSection
          h4 A winding bridge
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
        
        .contentImage.contentImage--three