extends templates/layout

block content
  .banner.banner--image.js-banner
    
  .pageContentWrapper.js-pageContentWrapper

    .section.sectionImage.sectionImage--tour 
      .sectionImage__overlay

      include temp-section-content

    .section.sectionImage.sectionImage--news
      include temp-section-content

    .section.sectionImage.sectionImage--videos
      .sectionImage__middle
      .sectionImage__top
      include temp-section-content

    .section.sectionImage.sectionImage--music.js-sectionImage--music
      include temp-section-content
      
    .section 
      h2 Footer
