extends templates/layout

block content

  .mainContent  
    .siteBanner.siteBanner--background

    .contentWrapper 
      h1 Welcome
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  