doctype
html
  head
    meta(charset="utf-8")
    title Dresden 2017
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(rel="icon", type="image/png", href="images/favicon.png")

  body(id="home-page" style="zoom: 1;")
    nav.nav
      a.main-logo
        span.main-logoText Site

      ul.main-nav
        li
          a(href="about.html").nav-link
            span About
        li
          a(href="about.html").nav-link
            span About
        li
          a(href="about.html").nav-link
            span About
        li
          a(href="about.html").nav-link
            span About

    .content  
      .banner.banner--homepage

      .page-content 
        h1 Welcome
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  