extends templates/layout

block content

  .contentWrapper

    button.menuButton.js-menuButton-show M
  
    .flyoutMenu
      button.menuButton.js-menuButton-hide M

      h1 Flying out menu

      ul.navBar__main
        li
          a(href="about.html").navLink
            span News
        li
          a(href="about.html").navLink
            span Media
        li
          a(href="service.html").navLink
            span Service
        li
          a(href="about.html").navLink
            span Support