extends templates/layout

block content
    
  .pageContentWrapper.js-pageContentWrapper
    .banner.banner--image.js-banner

    .section.sectionImage.sectionImage--tour 
      .sectionImage__overlay

      include temp-section-content

    .section.sectionImage.sectionImage--news
      include temp-section-content

    .section.sectionImage.sectionImage--videos
      .sectionImage__middle
      .sectionImage__top
      include temp-section-content

    .section.sectionImage.sectionImage--music.js-sectionImage--music
      include temp-section-content
      
    .owl-carousel.owl-theme
      .item 
        h4 Slide Content 1
      .item 
        h4 Slide Content 2
      .item 
        h4 Slide Content 3
      .item 
        h4 Slide Content 4
      .item 
        h4 Slide Content 5
      .item 
        h4 Slide Content 6

    .section 
      h2 Footer
