extends templates/layout

block content

  .mainContent  
    .siteBanner.siteBanner--background

    .contentWrapper.contentWrapper--fullWidth
      .contentSection
        h1 Today is a nice day!

        h4 Nice daytime view on a bridge
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
      
      .imageContainer.two

      .contentSection
        h4 Nice night-time view on a bridge
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
      
      .imageContainer.four

      .contentSection
        h4 A winding bridge
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores nemo sequi animi dolores, beatae aut earum dolorem atque, nesciunt tenetur in doloribus sit veritatis non ratione. Dignissimos voluptatum excepturi id, itaque facere culpa. Corrupti eum ut, sapiente magni quae sit enim, quos. Atque sint ea laboriosam quia nam nihil natus.
       
      .imageContainer.six

    