doctype
html
  head
    meta(charset="utf-8")
    title Dresden 2017
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //- link(rel="icon", type="image/png", href="images/favicon.png")

  body(style="zoom: 1;")
    .navBar
      a.navLink.navLogo
        span Home

      ul.navBar__main
        li
          a(href="about.html").navLink
            span News
        li
          a(href="about.html").navLink
            span Media
        li
          a(href="about.html").navLink
            span Service
        li
          a(href="about.html").navLink
            span Support

    .mainContent  
      .siteBanner.siteBanner--background

      .contentWrapper 
        h1 Welcome
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?   
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, earum, accusamus. Repudiandae facilis omnis quos culpa eius illo voluptate placeat, fuga, ducimus vitae iusto voluptates?  