@import 'base/all-base';
@import 'layout/all-layout';
@import 'modules/all-module';

.contentWrapper {
  margin: 7.25rem 0 5rem 0;
  padding: 0;

  h1 {
    text-align: center;
  }

  .section {
    margin: 2rem 5rem 0 5rem;
    color: #000;
  }

  .section--news {
    // background-color: #9BC53D;
    // color: #000;
  }

  .section--media {
    // background-color: #9BC53D;
    // color: #000;
    transition: all .2s ease-in-out;
    transform: translate3d(0, 30px, 0);
    opacity: 1;
  }

  .section--media.active {
    h3 {
      color: #fff;
    }
    background-color: tomato;
    color: #fff;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  .section--service {
    transition: all .2s ease-in-out;
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }

  .section--service.active {
    background-color: #1581AF;
    color: #FFF;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}