@import 'base/all-base';
@import 'layout/all-layout';
@import 'modules/all-module';

 .imageContent.imageContent--slider {
  background-image: url("../images/nickelback-slider.png");
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 100%;
  position: fixed;
  
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  opacity: 1;
}

.shape.shape--circle {
  background-image: url("../images/shapes/circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35%;
  position: fixed;
  top: 50vh;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: .75;
}

 .shape.shape--square {
  background-image: url("../images/shapes/square.svg");
  background-repeat: no-repeat;
  background-position: 97% bottom;
  background-size: 20%;
  position: fixed;
  top: 90px;
  width: 100vw;
  height: 100vh;
  z-index: -3;
  opacity: .75;
}

.shape.shape--pentagon {
  background-image: url("../images/shapes/pentagon.svg");
  background-repeat: no-repeat;
  background-position: 5% top;
  background-size: 15%;
  position: fixed;
  top: 75vh;
  width: 100vw;
  height: 100vh;
  z-index: -4;
  opacity: .75;
}

.contentWrapper {
  margin: 7.25rem 0 5rem 0;
  padding: 0;

  h1 {
    text-align: center;
  }

  .section {
    margin: 2rem 5rem 0 5rem;
    background-color: transparent;
    color: #000;
    padding: 3rem;
  }

}