.navBar
  a(href='/site.html').navLink.navLogo
    span Site
  a(href='/index.html').navLink.navLogo
    span Home

  ul.navBar__main
    li
      a(href="about.html").navLink
        span News
    li
      a(href="about.html").navLink
        span Media
    li
      a(href="service.html").navLink
        span Service
    li
      a(href="about.html").navLink
        span Support

//- .l-headerContainer
